:root {
  --body-background: #f8f8f8;
  --header-font-color: #e2e2e2;
  --header-background: #4d6987;
  --table-border: #e2e2e2;
  --o-color: #3ebcd3;
  --x-color: #3a89d5;
  --white: #fff;
}

* {
    margin: 0;
    padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: var(--body-background);
}

.header {
  font-size: 80px;
  font-weight: 700;
  color: var(--header-font-color);
  background-color: var(--header-background);
  text-align: center;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.left-score {
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 100px;
}

.left {
  color: var(--header-background);
  justify-self: center;
}

.player, .score {
  font-size: 80px;
  font-weight: 700;
}

.middle-container {
  padding-top: 30px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.button-wrapper button {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  width: 100px;
  height: 40px;
  border: none;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.button-wrapper button:hover {
  filter: brightness(0.9);
}

.ai {
  background-color: var(--x-color);
  transition: transform 0.5s ease;
}

.pvp {
  background-color: var(--o-color);
  transition: transform 0.5s ease;
}

.player-1, .player-2 {
  display: grid;
}

form {
  display: grid;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  transition: visibility 0.5s, opacity 0.3s;
}

label {
  font-weight: 700;
}

input {
  font-family: inherit;
  font-size: 100%;
  padding: 2px;
}

.form-button-container {
  display: flex;
  justify-content: center;
}

form button {
  font-family: inherit;
  font-size: 100%;
  background-color: var(--header-background);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

form button:hover {
  filter: brightness(0.9);
}

.gameboard {
  display: grid;
  justify-content: center;
  margin-top: 30px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
}

td {
  height: 150px; 
  width: 150px;
  border: 5px solid var(--table-border);
  font-size: 100px;
  vertical-align: baseline;
  cursor: pointer;
}

.o {
  color: var(--o-color);
}

.x {
  color: var(--x-color);
}

.game-message {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 10px;
}

.restart-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.restart-container button {
  font-family: inherit;
  font-size: 24px;
  background-color: var(--header-background);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.restart-container button:hover {
  filter: brightness(0.9);
}

.right-score {
  justify-self: center;
  align-self: center;
  display: grid;
  gap: 100px;
}

.right {
  color: var(--header-background);
  justify-self: center;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.down {
  transform: translateY(90px);
}